## ðŸ’» Exercises: Day 13
1. Filter only negative and zero in the list using list comprehension

In [2]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

negative_numbers = [i for i in numbers if i <= 0]
print(negative_numbers)

[-4, -3, -2, -1, 0]

2. Flatten the following list of lists of lists to a one dimensional list :

In [5]:
list_of_lists =[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flattened_list = [number for row in list_of_lists for number in row]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3. Using list comprehension create the following list of tuples:

In [29]:
numbers = [[i+1, i, i+1, (i+1)**2, (i + 1)**(i+1), (i+1)*3, (i+1)*4] for i in range(10)] 


for row in numbers:
    print(row)

[1, 0, 1, 1, 1, 3, 4]
[2, 1, 2, 4, 4, 6, 8]
[3, 2, 3, 9, 27, 9, 12]
[4, 3, 4, 16, 256, 12, 16]
[5, 4, 5, 25, 3125, 15, 20]
[6, 5, 6, 36, 46656, 18, 24]
[7, 6, 7, 49, 823543, 21, 28]
[8, 7, 8, 64, 16777216, 24, 32]
[9, 8, 9, 81, 387420489, 27, 36]
[10, 9, 10, 100, 10000000000, 30, 40]

4. Flatten the following list to a new list:

In [43]:
countries = [['Finland', 'Helsinki'], ['Sweden', 'Stockholm'], ['Norway', 'Oslo']]


flattened_country = [f"country: {country} {country[:3].upper()}: {capital.upper()}" for country, capital in countries]
#[number, for row in countries for number in row]
print(flattened_country)
for item in flattened_country:
    print(item)

['country: Finland FIN: HELSINKI', 'country: Sweden SWE: STOCKHOLM', 'country: Norway NOR: OSLO']
country: Finland FIN: HELSINKI
country: Sweden SWE: STOCKHOLM
country: Norway NOR: OSLO

6. Change the following list of lists to a list of concatenated strings:

In [48]:
names = [('Asabeneh', 'Yetayeh'), ('David', 'Smith'), ('Donald', 'Trump'), ('Bill', 'Gates')]

concatenated_list = [f"{first} {last}" for first, last in names]

print(concatenated_list)

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

7. Write a lambda function which can solve a slope or y-intercept of linear functions.

In [49]:
linear_function  = lambda x1, y1, x2, y2, variable: (y2-y1)/(x2-x1) if variable == 'slope' else y1*((y2-y1) / (x2 - x1)) * x1