## ðŸ’» Exercises: Day 5

### Exercises: Level 1

1. Declare an empty list

In [1]:
empty_list = list()

2. Declare a list with more than 5 items

In [3]:
Cities = ['Kano', 'Gumel', 'Abuja', 'Riyad', 'Chicago', 'Lagos']

3. Find the length of your list

In [4]:
print(len(Cities))

6

4. Get the first item, the middle item and the last item of the list

In [9]:
print(Cities[0], Cities[int(len(Cities)/2)], Cities[-1])

Kano Riyad Lagos

5. Declare a list called mixed_data_types, put your (name, age, height, marital status, address)

In [10]:
mixes_data = ['Nasiru', '38', '6.2', 'married', 'Gumel']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [12]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using _print()_

In [13]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the number of companies in the list

In [14]:
print(len(it_companies))

7

9. Print the first, middle and last company

In [15]:
print(it_companies[0], it_companies[int(len(Cities)/2)], it_companies[-1])

Facebook Apple Amazon

10. Print the list after modifying one of the companies

In [17]:
it_companies[0] = 'Arewa'
print(it_companies)

['Arewa', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [19]:
it_companies.append('Facebook')
print(it_companies)

['Arewa', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Facebook', 'Facebook']

12. Insert an IT company in the middle of the companies list

In [24]:
it_companies.insert(4, 'NasCo')

print(it_companies)

['Arewa', 'Google', 'Microsoft', 'Apple', 'NasCo', 'NasCo', 'IBM', 'Oracle', 'Amazon', 'Facebook', 'Facebook']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [29]:
it_companies[3].upper()

'APPLE'

14. Join the it_companies with a string '#;&nbsp;

In [30]:
it_companies.append('#')
print(it_companies)

['Arewa', 'Google', 'Microsoft', 'Apple', 'NasCo', 'NasCo', 'IBM', 'Oracle', 'Amazon', 'Facebook', 'Facebook', '#']

15. Check if a certain company exists in the it_companies list.

In [33]:
does_exist = 'Oracle' in it_companies

print(does_exist)

True

16. Sort the list using sort() method

In [35]:
it_companies.sort()

print(it_companies)

['#', 'Amazon', 'Apple', 'Arewa', 'Facebook', 'Facebook', 'Google', 'IBM', 'Microsoft', 'NasCo', 'NasCo', 'Oracle']

17. Reverse the list in descending order using reverse() method

In [36]:
it_companies.sort(reverse=True)

print(it_companies)

['Oracle', 'NasCo', 'NasCo', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Facebook', 'Arewa', 'Apple', 'Amazon', '#']

18. Slice out the first 3 companies from the list

In [37]:
print(it_companies[:3])

['Oracle', 'NasCo', 'NasCo']

19. Slice out the last 3 companies from the list

In [38]:
print(it_companies[-4:])

['Arewa', 'Apple', 'Amazon', '#']

20. Slice out the middle IT company or companies from the list

In [45]:
print(it_companies[int(len(it_companies)/2)])

Facebook

21. Remove the first IT company from the list

In [41]:
del it_companies[0]

print(it_companies)

['NasCo', 'NasCo', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Facebook', 'Arewa', 'Apple', 'Amazon', '#']

22. Remove the middle IT company or companies from the list

In [49]:

it_companies.remove(it_companies[int(len(it_companies)/2)])

print(it_companies)

['NasCo', 'NasCo', 'Microsoft', 'IBM', 'Arewa', 'Apple', 'Amazon', '#']

23. Remove the last IT company from the list

In [50]:
it_companies.remove(it_companies[-1])

print(it_companies)

['NasCo', 'NasCo', 'Microsoft', 'IBM', 'Arewa', 'Apple', 'Amazon']

24. Remove all IT companies from the list

In [51]:
it_companies.clear()

print(it_companies)

[]

25. Destroy the IT companies list

In [52]:
del it_companies

print(it_companies)

26. Join the following lists:

    ```py
    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
    back_end = ['Node','Express', 'MongoDB']

In [54]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joined_list = front_end + back_end
print(joined_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

In [58]:
full_stack = joined_list.copy()
full_stack.insert(5,'SQL')

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'SQL', 'Node', 'Express', 'MongoDB']

### Exercises: Level 2

1. The following is a list of 10 students ages:

```sh
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
```

In [35]:
#  Sort the list and find the min and max age

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()

print(ages)

print(min(ages))

print(max(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [38]:
#  Add the min age and the max age again to the list

print(ages)

ages.append(19)
ages.append(26)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [39]:
# Find the median age (one middle item or two middle items divided by two)

print(ages)

print(ages[int(len(ages)/2)])

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26]
25

In [48]:
# Find the average age (sum of all items divided by their number )

_sum = sum(ages)

average = (int(_sum/len(ages)))
print(average)

22

In [44]:
# Find the range of the ages (max minus min)

print(max(ages) - min(ages))

7

In [50]:
#  Compare the value of (min - average) and (min - average)), use _abs()_ method

if abs((min(ages) - average)) > abs((max(ages) - average)):
    print("(min - average) is greater than (max - average)")

else:
    print("(min - average) is greater than (min - average)")

(min - average) is greater than (min - average)

1. Find the middle country(ies) in the [countries list](https://github.com/Asabeneh/30-Days-Of-Python/tree/master/data/countries.py)

In [52]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

print(countries[int(len(countries)/2)])

Lesotho

2.  Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [58]:
print(len(countries))


half_length = len(countries) // 2
first_half, second_half = countries[:half_length], countries[half_length:]

print(f'{first_half=}')
print(f'{second_half=}')

193
first_half=['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
second_half=['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

3 ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [59]:
countries2 = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first, second, third, *scandic = countries2